# Para instalar todas as dependências: pip install -r requirements.txt

streamlit>=1.31.0
pandas
sqlalchemy
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai>=0.7.0